form .avatar{
  margin-bottom: 15px;
  width: 105px;
}

.navbar .container-avatar{
  width: 45px;
  height: 45px;
  border-radius: 900px;
  overflow: hidden;
  margin-left: 20px;
}

.navbar .container-avatar img{
  height: 100%;
}

.navbar .container-logo{
  height: 50px;
}

body{
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

